.slideshow {
    position: relative;
    width: 100%;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;

    .slideshow-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1;

        &-left {
            left: 20px;
        }

        &-right {
            right: 20px;
        }
    }

    .slideshow-counter {
        position: absolute;
        bottom: 20px;
        right: 50%;
        transform: translateX(50%);
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 5px 10px;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
    }

}

@media screen and (max-width: 768px) {
    .slideshow {
        height: 255px; // Hauteur plus petite en mobile
        border-radius: 15px;
    }

    .slideshow-image {
        border-radius: 15px;
    }

    .arrow {
        height: 24px;
    }

    .arrow.left {
        left: 10px;
    }

    .arrow.right {
        right: 10px;
    }

    .slideshow-counter {
        bottom: 10px;
        font-size: 0.9rem;
        padding: 3px 8px;
    }
}