  @media screen and (max-width: 768px) {
      .aboutpage .collapse {
          width: 100%;
          gap: 15px;
          padding: 0 20px 40px 35px;
      }

      .aboutpage .collapse-header {
          padding: 10px 15px;
          font-size: 14px;
          height: 30px;
      }

      .aboutpage .collapse-content {
          padding: 10px 15px;
          font-size: 13px;
      }

      .aboutpage .collapse-title {
          font-size: 14px;
      }
  }