.home {
    padding: 0 50px;

    .cards-container {
        margin: 40px 0;
        padding: 30px;
        background-color: #f6f6f6;
        border-radius: 25px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        justify-items: center;
    }
}