.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;

    &__logo {
        width: 170px;
    }

    &__nav {
        display: flex;
        gap: 30px;
    }

    &__link {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* ================= HEADER MOBILE ================= */
@media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .header_logo {
        height: 40px;
        width: auto;
    }


    .header__nav {
        display: flex;
        gap: 20px;
    }

    .header__nav a {
        font-size: 14px;
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }
}