.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__logo {
        width: 122px;
        height: 39px;
        top: 66px;
        left: 659px;
    }

    &__text {
        font-size: 14px;
        color: white;
        font-family: "Montserrat", sans-serif;
    }
}