.banner {
    position: relative;
    margin: 2rem auto;
    width: 90%;
    max-width: 1240px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    &-img {
        width: 100%;
        height: 223px;
        object-fit: cover;
        filter: brightness(0.7);
    }

    &-text {
        position: absolute;
        top: 40%;
        color: white;
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        width: 100%;
        padding: 0 1rem;
        font-family: 'Montserrat', sans-serif;
    }
}